/*View port*/
.vh5{
    height: 5vh;
}
.vh10{
    height: 10vh;
}
.vh20{
    height: 20vh;
}
.vh30{
    height: 30vh;
}
.vh40{
    height: 40vh;
}
.vh50{
    height: 50vh;
}
.disabled div{
    height: 20vh;
}

.disabled * {
}

.center *{
    margin: auto;
    text-align: center;
    align
}